<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>goblin-idle00.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{28,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{28,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>goblin-run00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>goblin-run01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>goblin-run02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{26,32}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>goblin-run03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{26,32}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>goblin-run04.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,36},{26,32}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>goblin-run05.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,36},{26,32}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>goblin-run06.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,36},{26,30}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{26,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>goblin-run07.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,36},{26,30}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{26,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>goblin-run08.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{24,30}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{24,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>goblin-run09.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{24,30}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{24,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>goblin-run10.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{26,32}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>goblin-run11.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{26,32}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>goblin.png</string>
            <key>size</key>
            <string>{120,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:26b0ddfea58e487e16fb2507c8ea0bee:da44c3f9e7b738baf44e60e33f2e1c48:c5a8930ba4195bf316a78b77653f1c20$</string>
            <key>textureFileName</key>
            <string>goblin.png</string>
        </dict>
    </dict>
</plist>
